/* GLOBALS */
html {
  scroll-behavior: smooth;
}

/* HEADER */

.header {
  position: relative;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 58, 93, 1) 50%, #336b6e 100%);
  color: white;
  padding: 1rem;
}

.github_icon:hover {
  cursor: pointer;
  transition: all 0.5s;
  transform: scale(1.2);
}

/* ALBUMS */

.cover:hover {
  cursor: pointer;
  opacity: 60%;
}

.limit-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.limit-artist {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

/* Icon to change the view */
.icon_list:hover {
  cursor: pointer;
  color: var(--primary);
  transition: all 0.5s;
  transform: scale(1.2);
}
